{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
</head>
<body>
    <div class="heading12">
        <h1>About us</h1>
        
    </div>
    <div class="container12">
        <section class="about1">
            <div class="about-image">
                <img src="{% static 'images/pic/milkbottle-transformed.jpeg' %}" alt="">
            </div>
            <div class="about-content">
                <h2>Revolutionizing the Milk Supply Chain for a Smarter Future</h2>
                <p>At MilkFlow Solutions, we are transforming the traditional milk supply chain into a modern, seamless experience for both customers and distributors. Recognizing the challenges of inconsistent deliveries, lack of flexibility, and limited transparency, we set out to create a platform that addresses these issues head-on.<br><br>
                    Our digital solution empowers customers to take control of their orders, offering real-time stock visibility and easy modifications, ensuring convenience like never before. For distributors, we provide powerful tools for demand forecasting, inventory management, and order synchronization, reducing waste and operational inefficiencies.We are committed to bridging the gap between farms and homes with smarter, sustainable, and customer-centric technology. Join us as we revolutionize the way milk flows—from production to your doorstep!</p>
                <a href="" class="read-more">Read More</a>
            </div>
        </section>
    </div>
</body>
</html>